<nav-bar></nav-bar>
    <h3 class="well container">{{RecordType}} Record</h3>
<form #formCtrl="ngForm" class="container" (ngSubmit)="submitBE()" novalidate>
    <div class="form-group">
        <!--new code-->
        <div class="row">
           
            
        </div>
    </div>
    <div class="form-group">
        <!--new code-->
        <div class="row">
            <div class="col-md-6">
                <label for="status">PROGRAM</label>
                <select class="form-control" name="lob" [(ngModel)]="model.lob" required>
                     <option  [value]="1" [selected]="model.status ==1">Active</option>
                     <option  [value]="0" [selected]="model.status ==0">In Active</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="">SERVICE LINE</label>
         <input type="text" class="form-control" rows="3" placeholder="Service Line" [(ngModel)]="model.id" name="serviceLine" required/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="">SOW</label>
                <input type="text" class="form-control" rows="3" placeholder="SOW Number" [(ngModel)]="model.sow" name="sow" required />
            </div>
            <div class="col-md-6">
                <label for="">SFDC ID</label>
                <input type="text" class="form-control" rows="3" placeholder="SFDC ID" [(ngModel)]="model.sfdcid" name="sfdcid" required/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="">PROJECT DESC</label>
                <input type="text" class="form-control" rows="3" placeholder="Project Description" [(ngModel)]="model.projectdesc" name="projectdesc"
                    required/>
            </div>
            <div class="col-md-6">
                <label for="">PO #</label>
                <input type="number" class="form-control" rows="3" placeholder="PO Number" [(ngModel)]="model.ponumber" name="ponumber" required/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="">PO EXP</label>
                <input type="date" class="form-control" rows="3" placeholder="PO Expiration" [(ngModel)]="model.poExpiration" name="poExpiration"
                    required/>
            </div>
            <div class="col-md-6">
                <label for="">Project Manager</label>
                <select class="form-control" name="staus" [(ngModel)]="model.projectManager" required>
                     <option  [value]="1" [selected]="model.status ==1">Active</option>
                     <option  [value]="0" [selected]="model.status ==0">In Active</option>
                 </select>
            </div>
        </div>
    </div>
    <br>
    <div class=form-group>
        <div class="row fixed">
            <div class="col-md-6">
              <button *ngIf="editing" type="submit" class="btn btn-warning btn-block">UPDATE</button>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
     <button type="submit" class="btn btn-info">Submit</button>
</form>

