<button (click)="onChange()">Notify my parent!</button>
<div class="container" >
 <h3 class="well container">Search By</h3>
    <div class="form-group">
        <!--new code-->
        <div class="row">
            <div class="col-md-6">
                <label for="Project Desc:">PROJECT DESC</label>
                    <ng2-completer [(ngModel)]="captain" [datasource]="captains" [minSearchLength]="0" #projectInput (keyup)=onChange(projectInput.value)></ng2-completer>
                </div>
                 <div class="col-md-6">
                    <label for="">SFDC ID</label>
                        <ng2-completer [(ngModel)]="captain" [datasource]="captains" [minSearchLength]="0" #SFDCInput (keyup)=onChange(SFDCInput.value)></ng2-completer>
                
                </div>
             </div>
        </div>
        <div class="form-group">
        <!--new code-->
        <div class="row">
            <div class="col-md-6">
                <label for="Project Desc:">PROJECT DESC</label>
                    <ng2-completer [(ngModel)]="captain" [datasource]="captains" [minSearchLength]="0" #projectInput (keyup)=onChange(projectInput.value)></ng2-completer>
                </div>
                 <div class="col-md-6">
                    <label for="">SFDC ID</label>
                        <ng2-completer [(ngModel)]="captain" [datasource]="captains" [minSearchLength]="0" #SFDCInput (keyup)=onChange(SFDCInput.value)></ng2-completer>
                
                </div>
             </div>
        </div>
        <div class="form-group">
        <!--new code-->
        <div class="row">
            <div class="col-md-6">
                <label for="Project Desc:">PROJECT DESC</label>
                    <ng2-completer [(ngModel)]="captain" [datasource]="captains" [minSearchLength]="0" #projectInput (keyup)=onChange(projectInput.value)></ng2-completer>
                </div>
                 <div class="col-md-6">
                    <label for="">SFDC ID</label>
                        <ng2-completer [(ngModel)]="captain" [datasource]="captains" [minSearchLength]="0" #SFDCInput (keyup)=onChange(SFDCInput.value)></ng2-completer>
                
                </div>
             </div>
        </div>
        <div class="form-group">
        <!--new code-->
        <div class="row">
            <div class="col-md-6">
                <label for="Project Desc:">PROJECT DESC</label>
                    <ng2-completer [(ngModel)]="captain" [datasource]="captains" [minSearchLength]="0" #projectInput (keyup)=onChange(projectInput.value)></ng2-completer>
                </div>
                 <div class="col-md-6">
                    <label for="">SFDC ID</label>
                        <ng2-completer [(ngModel)]="captain" [datasource]="captains" [minSearchLength]="0" #SFDCInput (keyup)=onChange(SFDCInput.value)></ng2-completer>
                
                </div>
             </div>
        </div>
</div>