<nav-bar></nav-bar>
<be-search (notifyParent)="onChange($event)"></be-search>
   <div class="container" >
    <table class="table table-condensed">
    <thead>
      <tr>
        <th>Project Desc</th>
        <th>SFDC ID</th>
        <th>PROJECT MANAGER</th>
        <th>SOW</th>
        <th>PO #</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let be of bes">
        <td (click)="submitID([be.id])">{{be.id}}</td>
        <td>{{be.title}}</td>
        <td>{{be.title}}</td>
         <td>{{be.title}}</td>
        <td>{{be.title}}</td>
        
        <td>
          <button class="btn btn-danger" (click)="deleteBE(be.id)"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<be-calc></be-calc>